.footer {
  display: flex;
  min-height: 100px;
  align-items: center;
  justify-content: center;
  background: #38393d;
  color: #fff;
}
.footer ul {
  display: flex;
  list-style: none;
}
.footer ul li {
  margin-right: 12px;
}
.footer ul li img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

@media (max-width: 440px) {
  .footer-mask {
    display: none;
  }

  .footer {
    justify-content: center;
  }

  .footer ul {
    padding: 0;
  }
}
