@import "variables";
.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: $headerColor;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
