@import './gallery.scss';
@import './header.scss';
@import './languages.scss';
@import './navigation.scss';
@import url('https://fonts.googleapis.com/css?family=Nunito:300,300i,400,400i,600,600i,700,700i&display=swap&subset=cyrillic-ext');

body {
  font-family: Nunito, serif;
}

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 0;
}

.grid-container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: repeat(2, auto);
  justify-content: space-around;
  margin: 0 auto;
}

.main-content {
  flex-grow: 1;
  padding: 20px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;

  @media (min-width: 576px) {
    max-width: initial;
  }
}

@media (max-width: 1240px) {
  .grid-container {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(1, auto);
  }
}

.mainPreviewText {
  font-size: 1.4rem;

  @media (max-width: 576px) {
    font-size: 1.2rem;
    margin-bottom: 15px;
    padding: 0;
  }
}

.justify-content-center.teamContainer {
  max-width: 1150px;
}
