@import './gallery.scss';
@import './header.scss';
@import './languages.scss';
@import './navigation.scss';

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.grid-container {
  display: grid;

  grid-template-columns: repeat(3, auto);
}

.main-content {
  flex-grow: 1;
}

@media (min-width: 576px) {
  .container {
    max-width: initial;
  }
}

@media (max-width: 1240px) {
  .grid-container {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .grid-container {
    grid-template-columns: repeat(1, auto);
  }
}
