@import "variables";

.dropdown-menu.show {
  min-width: initial;
}

.dropdown-item {
  text-transform: uppercase;

  &:hover {
    background: $mainColor;
  }
}

.dropdown {
  margin-top: 10px;
}

.btn-primary {
  color: #ffffff;
  background-color: $mainColor;
  border-color: $mainColor;
  text-transform: uppercase;
  outline: none !important;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    background-color: $mainColor !important;
    border-color: $mainColor !important;
    outline: none !important;
    box-shadow: none;
  }

  &.dropdown-toggle:focus {
    outline: none;
    box-shadow: none;
  }
}
