@import 'variables';

.dropdown-menu.show {
  min-width: initial;
  padding: 0;
  border-color: rgb(33, 37, 41);
  border-radius: 3px;
  overflow: hidden;
}

.dropdown-item {
  text-transform: uppercase;
  padding: 0.25rem 0.9rem;
  transition: 100ms;

  &:hover {
    background: $mainColor;
    color: #ffffff;
  }
}

.dropdown {
  margin-top: 16px;
}

.btn-primary {
  color: #ffffff;
  background-color: $mainColor;
  border-color: $mainColor;
  text-transform: uppercase;
  outline: none !important;

  &:hover,
  &:active,
  &:visited,
  &:focus {
    background-color: $mainColor !important;
    border-color: $mainColor !important;
    outline: none !important;
    box-shadow: none;
  }

  &.dropdown-toggle:focus {
    outline: none;
    box-shadow: none !important;
  }
}
