@import "variables";

.navbar {
  width: 100%;
  display: flex;
  padding: 8px;
  margin-right: -50px;
}

.navbar-container {
  margin: 5px auto;
}

.nav-item {
  padding: 5px 5px 5px 0;
  margin-top: 2px;
}

.navItem {
  padding: 5px 15px;
  transition: 250ms;
  border-radius: 3px;
  background: $mainColor;
  color: #ffffff;
  text-transform: uppercase;
  border: 1px solid transparent;

  &:hover {
    background: #ffffff;
    text-decoration: none;
    color: $mainColor;
    border: 1px solid $mainColor;
  }
}






.activeNavItem {
  background: #ffffff;
  text-decoration: none;
  color: $mainColor;
  border: 1px solid $mainColor;
}

.navbar-toggler {
  color: white !important;
  border-color: white !important;

  &:active,
  &:focus {
    outline: none;
  }
}
