@import 'variables';

.navbar {
  display: flex;
  width: 100%;
  margin-right: -50px;
  padding: 8px;
}

.navbar-container {
  margin: 5px auto;
}

.nav-item {
  margin-top: 2px;
  padding: 5px 5px 5px 0;
}

.navItem {
  padding: 5px 15px;

  color: #ffffff;
  text-transform: uppercase;

  background: $mainColor;
  border: 1px solid transparent;
  border-radius: 3px;

  transition: 250ms;

  &:hover {
    color: $mainColor;
    text-decoration: none;

    background: #ffffff;
    border: 1px solid $mainColor;
  }

  @media (max-width: 991px) {
    display: inline-block;
    width: 30%;
  }

  @media (max-width: 576px) {
    width: 50%;
  }

  @media (max-width: 480px) {
    width: 100%;
  }
}

.activeNavItem {
  color: $mainColor;
  text-decoration: none;

  background: #ffffff;
  border: 1px solid $mainColor;
}

.navbar-toggler {
  color: white !important;

  border-color: white !important;
  transition: 250ms;

  &:active,
  &:focus {
    border-color: white !important;
    outline: none;
  }

  &:hover {
    border-color: $mainColor !important;
    outline: none;
  }
}
