@import "variables";

.item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
}

[class*='PersonPreview'] {

  figure {
    width: 100%;
    height: 100%;

    img {
      border-radius: 15px;
      overflow: hidden;
    }
  }
  img {
    object-fit: contain;
  }

  h1 {
    color:$mainColor;
    transition: 200ms;

    &:hover {
      color: black;
    }

    &:hover.figure {
      border: 3px solid red;
    }
  }

  a:hover {
    text-decoration: none;
  }
}
