.itemContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.itemImage {
  width: 25%;
  border-radius: 10px;

  @media only screen and (max-width: 768px) {
    width: 60%;
  }
}
