@import "variables";

#inputGroup-sizing-default{
  font-size: 1.4rem;
  background: $headerColor;
  color: white;
}

#filterText {
  font-size: 1.4rem;
  font-style: italic;

  &:active,
  &:focus {
    outline: none;
    box-shadow: none;
  }
}
